
.DS_Store
node_modules
*.log

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

dist

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
